@model GrantsViewModel

<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Identity Server Clients
            </h1>
            <div>Below is the list of Clients that can use the APIs.</div>
        </div>
    </div>

    @if (Model.Grants.Any() == false)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-info">
                    You have not given access to any applications
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var grant in Model.Grants)
        {
<div class="row grant">
    <div class="col-sm-2">
        @if (grant.ClientLogoUrl != null)
        {
            <img src="@grant.ClientLogoUrl">
        }
    </div>
    <div class="col-sm-8">
        <div class="clientname">@grant.ClientName</div>
        <div>
            <span class="created">Created:</span> @grant.Created.ToString("yyyy-MM-dd")
        </div>


    </div>

    @if (grant.Scopes != null)
    {
        <div class="col-sm-8">
            <div >@grant.Scopes</div>
           


        </div>
    }
    <div class="col-sm-2">
        <form asp-action="Revoke">
            <input type="hidden" name="clientId" value="@grant.ClientId">
            <button class="btn btn-danger">Revoke Access</button>
        </form>
    </div>
</div>
        }
    }
</div>